# Data Science Project: Case study and data manipulation
## by Xiaohui (Eartha) Guo

### Part 1: Case study
- Read [this article](http://www.nytimes.com/2012/02/19/magazine/shopping-habits.html) in the New York Times.
- Use what we've learned in class and from the book to describe how one could set Target's problem up as a predictive modeling problem, such that they could have gotten the results that they did.  Formulate your solution as a proposed plan using our data science terminology.  Include all the aspects of the formulation that you see as relevant to solving the problem.  Be precise but concise.

Place your answer here!

Answer:

In order to identify pregnant shoppers, we need the machine learning techniques. In gereral, there are two approaches. One is supervised learning and the other one is the unsupervised learning. For the supervised learning, there are two approaches. One is regression and the other one is classification. For the unsupervised learning, the cluster analysis will solve this problem. For this case I will choose the classification method. 

Suppose that for each female customer we assign her n features. So for each female customer, we represent her as a data point (Xi, Yi). Here Xi is a D dimenstional vector and each dimension represents a featuer. The features could be those phenomenons or behaviors that could be related to pregency. Yi is just "+1" or "0", where "+1" represents pregnant and "0" represents not pregnant. Suppose we have m such data points that we know whether these female customers are pregnant or not. Then we split the m data points into training data and testing data. Let 3m/4, supposed it is n, to be the training data. The rest m/4 be the testing data. Use the training data to train a prediction model and use the testing data to test the accuracy of the model. 

There are several methods to build the classification model. 

1). naive Bayes classifier. 

Suppose there is a new female customer that we don't know whether she is pregnant or not. We will predict it. Let's assign her the data point (Xo Yo). Set the function. 

Yo = arg max (on y) p(Yo= Y|q) P(Xo,d=1|Ty)*P(Xo,d=2|Ty)*.....*P(Xo,d=D|Ty)

Here the formula is to find the value of y, which is "+1" or "0" to max the objective function. Obviously here the prior p(Yo= Y|q) could be bernoulli distribution. The later part of the objective function is the production of the probability distributions of the D dimensions. Since this is a naive Bayes classifier, the assumption is that all the D dimensions of X are independent. We will suppose the appropriate distribution family for each dimension. Then use the MLE method to calculate the paramenter.Then we will find the value of Yo.


2). K-NN Algorithm 

Here we could calculate the number of Yo when K = 1, 2, 3, 4....20. (K could be other integers) and find the prediction accuracy. Then we pick the value of K that has the highest prediction accuray. It is pretty easy to implement this algorithm using the scikit-learn package in Python. 

3). Logistic Regression

Here running the Steepest Ascent Algorithm could solve the problem. 

Input: training data(X1,Y1), (X2,Y2),......,(Xn,Yn) and step size p > 0 

1. Set w_(1) = 0 (here w is a D dimensional vector)

2. For iteration t=1,2,..... do

   Update w_(t+1) = w_(t) + p*[(1-sigmoid(Y1*w_(t))*Y1*X1]*[(1-sigmoid(Y2*w_(t))*Y2*X2]*......*[(1-sigmoid(Yn*w_(t))*Yn*Xn]

Use the logistic regression, we can also predict whether a female customer is pregnant or not. 


All of the above methods are good. We could implement all of them and choose the one with the highest prediction accuracy.

### Part 2: Dealing with messy data
Not all data you will deal with is going to be clean. In fact, much of it will be very messy! For example, we have the HTML page that lists the contributors to Facebook's [osquery](https://github.com/facebook/osquery) project that is hosted on [Github.com](https://github.com). In this case, all we are interested in are the contributors and how many commits each of them has. Given the HTML page in `"data/osquery_contributors.html"` you will sift through tons of irrelevant data so that you can build a useful data structure.

Notice that the first six (out of 59 total) contributors are named "theopolis", "marpaia", "javuto", "jedi22", "unixist", and "mofarrell". They have 553, 477, 104, 49, 30, 25 commits respectively.

![Screenshot](images/osquery_contributors.png)

To get a better of understanding of how this data is stored in the file, try searching through the raw data file for these usernames to look for any patterns. Your final dictionary should have 59 elements!

1\. Turn this data into a Python dictionary called `contributors` where the keys are the contributor names and the values are the number of commits that each contributor has.

In [1]:
import re # you might find this package useful

contributors = dict()

# Place your code here
html = open("/Users/earthaguo/Documents/Introduction to data science/Hw 1 Feb 23/DataScienceCourse-master/ipython/hw/hw_1/data/osquery_contributors.html", 'r').read()

target = re.findall(r'<a.*?>(.+?)</a>',str(html))

target[140]

list = []
for i in range(23,141):
    list.append(target[i])
    
    
list1 = []
for i in range(0,59):
    list1.append(list[2*i])

list2 = []
for i in range(0,59):
    list2.append(list[2*i+1])

for i in range(0,59):
    contributors[list1[i]] = list2[i]
    
            
# This line will print your dictionary for grading purposed. Do not remove this line!!!
print(contributors)

{'theopolis': '553 commits', 'marpaia': '477 commits', 'javuto': '104 commits', 'jedi22': '49 commits', 'unixist': '30 commits', 'mofarrell': '25 commits', 'sharvilshah': '23 commits', 'lwhsu': '22 commits', 'wxsBSD': '20 commits', 'polachok': '14 commits', 'zwass': '14 commits', 'eastebry': '9 commits', 'maus-': '9 commits', 'vmauge': '8 commits', 'astanway': '6 commits', 'maclennann': '6 commits', 'blakefrantz': '6 commits', 'akshaydixi': '5 commits', 'arirubinstein': '4 commits', 'cdown': '4 commits', 'deniszh': '3 commits', 'achmiel': '3 commits', 'brandt': '3 commits', 'nlsun': '3 commits', 'mimeframe': '3 commits', 'mgoffin': '2 commits', 'mathieuk': '2 commits', 'ga2arch': '2 commits', 'glensc': '2 commits', 'jreese': '2 commits', 'Anubisss': '2 commits', 'timzimmermann': '2 commits', 'jamesgpearce': '2 commits', 'schettino72': '2 commits', 'castrapel': '2 commits', 'mlw': '2 commits', 'apage43': '1 commit', 'SimplyAhmazing': '1 commit', 'quad': '1 commit', 'yannick': '1 commit', 'blackfist': '1 commit', 'DavidGosselin': '1 commit', 'ecin': '1 commit', 'arubdesu': '1 commit', 'yetanotherhacker': '1 commit', 'rjeczalik': '1 commit', 'larzconwell': '1 commit', 'justintime32': '1 commit', 'alex': '1 commit', 'vlajos': '1 commit', 'dreid': '1 commit', 'kost': '1 commit', 'mtmcgrew': '1 commit', 'tburgin': '1 commit', 'mark-ignacio': '1 commit', 'shawndavenport': '1 commit', 'jacknagz': '1 commit', 'd0ugal': '1 commit', 'stevenhilder': '1 commit'}

In [2]:
len(contributors)

59

### Part 3: Dealing with data Pythonically

In [3]:
# You might find these packages useful. You may import any others you want!
import pandas as pd
import numpy as np

1\. Load the data set `"data/ads_dataset.tsv"` into a Python Pandas data frame called `ads`.

In [4]:
# Place your code here
from pandas import DataFrame
ads = DataFrame.from_csv("/Users/earthaguo/Documents/Introduction to data science/Hw 1 Feb 23/DataScienceCourse-master/ipython/hw/hw_1/data/ads_dataset.tsv", sep="\t")
ads

,isbuyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins,y_buy
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,106,106,0,0,169,2130,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,72,72,0,0,154,1100,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,5,5,0,0,4,12,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,6,6,0,0,150,539,0
NaT,0,NaN,2,0.0,0.500000,0.0,-101.149300,101,101,0,1,103,362,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,42,42,0,0,17,35,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,42,42,0,0,42,110,0
NaT,0,NaN,2,0.0,29.791670,0.0,-106.188300,121,121,0,1,101,401,0
NaT,0,NaN,3,0.0,45.479170,0.0,-34.144730,64,64,0,1,100,298,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,13,13,0,0,53,247,0
NaT,1,1.0,2,0.0,0.958333,0.0,-20.671200,21,21,0,1,65,175,0
NaT,0,NaN,2,0.0,21.333330,0.0,-108.323000,118,118,0,1,163,891,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,151,151,0,0,24,198,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,19,19,0,0,16,48,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,81,81,0,0,32,177,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,68,68,0,0,64,305,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,36,36,0,0,76,163,0
NaT,0,NaN,2,0.0,15.958330,0.0,-6.683471,14,14,0,1,101,1105,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,19,19,0,0,30,76,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,70,70,0,0,168,1317,0
NaT,0,NaN,2,0.0,27.250000,0.0,-124.610000,138,138,0,1,172,828,0
NaT,0,NaN,2,0.0,133.125000,0.0,50.474090,16,16,0,1,67,396,0
NaT,0,NaN,3,0.0,8.395833,0.0,2.534722,3,3,0,1,146,398,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,9,9,0,0,-1,26,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,145,145,0,0,179,1215,0
NaT,0,NaN,8,0.0,15.994050,0.0,12.569260,1,1,0,1,64,167,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,39,39,0,0,165,3883,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,34,34,0,0,96,219,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,135,135,0,0,143,1011,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,77,77,0,0,81,219,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,6,6,0,0,0,182,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,44,44,0,0,84,139,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,85,85,0,0,169,276,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,49,49,0,0,18,45,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,30,30,0,0,53,506,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,10,10,0,0,109,1131,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,77,77,0,0,11,38,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,14,14,0,0,9,87,0
NaT,0,NaN,3,0.0,28.229170,0.0,-7.932672,26,26,0,1,162,1178,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,48,48,0,0,39,139,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,38,38,0,0,26,117,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,70,70,0,0,171,506,0
NaT,0,NaN,2,0.0,8.541667,0.0,-14.237070,18,18,0,1,-1,3,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,71,71,0,0,63,254,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,185,185,0,0,184,1358,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,95,95,0,0,164,2462,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,134,134,0,0,174,499,0
NaT,0,NaN,10,0.0,7.101852,0.0,3.137754,3,3,0,1,103,255,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,109,109,0,0,143,808,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,57,57,0,0,164,1912,0
NaT,0,NaN,2,0.0,131.083300,0.0,34.678500,30,30,0,1,30,214,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,181,181,0,0,22,125,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,69,69,0,0,95,187,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,119,119,0,0,103,1338,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,37,37,0,0,1,22,0
NaT,0,NaN,3,0.0,30.979170,0.0,12.621240,8,8,0,1,168,2080,0
NaT,0,NaN,2,0.0,1.041667,0.0,-0.916713,1,1,0,1,1,15,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,20,20,0,0,132,556,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,180,180,0,0,71,400,0
NaT,0,NaN,1,0.0,0.000000,0.0,0.000000,185,185,0,0,77,401,0

2\. Write a Python function called `getDfSummary()` that does the following:
- Takes as input a data frame
- For each variable in the data frame calculates the following features:
  - `number_nan` to count the number of missing not-a-number values
  - Ignoring missing, NA, and Null values:
    - `number_distinct` to count the number of distinct values a variable can take on
    - `mean`, `max`, `min`, `std` (standard deviation), and `25%`, `50%`, `75%` to correspond to the appropriate percentiles
- All of these new features should be loaded in a new data frame. Each row of the data frame should be a variable from the input data frame, and the columns should be the new summary features.
- Returns this new data frame containing all of the summary information

Hint: The pandas `describe()` [(manual page)](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html) method returns a useful series of values that can be used here.

In [5]:

def getDfSummary(input_data):
    import pandas as pd
    import numpy as np
    from pandas import DataFrame
    
    # Place your code here
    #Create column name
    column_name = ['number_nan','number_distinct','mean','max','min','std','25%','50%','75%']
    
    #Create row name
    row_name = input_data.columns
    
    #Create empty data frame
    empty = np.empty((len(row_name),len(column_name)),dtype=np.float)
    empty[:] = np.nan
    
    output_data = pd.DataFrame(empty)
    
    #Insert column names
    output_data.columns = column_name
    
    #Insert row names
    index = pd.Index(row_name)
    output_data = pd.DataFrame(output_data, index=index)
    
    #Insert into the first column: number_nan
    describe = input_data.describe()
    for i in range(0, input_data.shape[1]):
         output_data.iloc[i,0]= input_data.shape[0] - describe.iloc[0,:][i]
      
    #Insert into the second column:number_distinct
    for i in range(0, input_data.shape[1]):
        output_data.iloc[i,1]=len(ads.iloc[:,i].unique())
        
    for i in range(0, input_data.shape[1]):
        if output_data.iloc[i,0] != 0:
            output_data.iloc[i,1] -= 1
    
    #Insert into the thrid column: mean
    for i in range(0, input_data.shape[1]):
        output_data.iloc[i,2]= describe.iloc[1,:][i]
        
    #Insert into the fourth column: max
    for i in range(0, input_data.shape[1]):
        output_data.iloc[i,3]= describe.iloc[7,:][i]
        
    #Insert into the fifth column: min
    for i in range(0, input_data.shape[1]):
        output_data.iloc[i,4]= describe.iloc[3,:][i]
    
    #Insert into the sixth column: std
    for i in range(0, input_data.shape[1]):
        output_data.iloc[i,5]= describe.iloc[2,:][i]
    
    #Insert into the seventh column: 25%
    for i in range(0, input_data.shape[1]):
        output_data.iloc[i,6]= describe.iloc[4,:][i]
        
    #Insert into the eigth column: 50%
    for i in range(0, input_data.shape[1]):
        output_data.iloc[i,7]= describe.iloc[5,:][i]
    
    #Insert into the eigth column: 75%
    for i in range(0, input_data.shape[1]):
        output_data.iloc[i,8]= describe.iloc[6,:][i]
        
        
        
        
    return output_data

In [6]:
getDfSummary(ads)

,number_nan,number_distinct,mean,max,min,std,25%,50%,75%
isbuyer,0.0,2.0,0.042632,1.00000,0.0000,0.202027,0.0,0.0,0.000000
buy_freq,52257.0,10.0,1.240653,15.00000,1.0000,0.782228,1.0,1.0,1.000000
visit_freq,0.0,64.0,1.852777,84.00000,0.0000,2.921820,1.0,1.0,2.000000
buy_interval,0.0,295.0,0.210008,174.62500,0.0000,3.922016,0.0,0.0,0.000000
sv_interval,0.0,5886.0,5.825610,184.91670,0.0000,17.595442,0.0,0.0,0.104167
expected_time_buy,0.0,348.0,-0.198040,84.28571,-181.9238,4.997792,0.0,0.0,0.000000
expected_time_visit,0.0,15135.0,-10.210786,91.40192,-187.6156,31.879722,0.0,0.0,0.000000
last_buy,0.0,189.0,64.729335,188.00000,0.0000,53.476658,18.0,51.0,105.000000
last_visit,0.0,189.0,64.729335,188.00000,0.0000,53.476658,18.0,51.0,105.000000
multiple_buy,0.0,2.0,0.006357,1.00000,0.0000,0.079479,0.0,0.0,0.000000
multiple_visit,0.0,2.0,0.277444,1.00000,0.0000,0.447742,0.0,0.0,1.000000
uniq_urls,0.0,207.0,86.569343,206.00000,-1.0000,61.969765,30.0,75.0,155.000000
num_checkins,0.0,4628.0,720.657592,37091.00000,1.0000,1275.727306,127.0,319.0,802.000000
y_buy,0.0,2.0,0.004635,1.00000,0.0000,0.067924,0.0,0.0,0.000000

3\. How long does it take for your `getDfSummary()` function to work on your `ads` data frame? Show us the results below.

Hint: `%timeit getDfSummary(ads)`

In [7]:
# Place your code here
%timeit getDfSummary(ads)

10 loops, best of 3: 94.8 ms per loop

4\. Using the results returned from `getDfSummary()`, which fields, if any, contain missing `NaN` values?

In [8]:
# Place your code here
a = getDfSummary(ads)
a
for i in range(len(ads.columns)):
    if a['number_nan'][i] != 0:
        print(ads.columns[i])
        print('\n')
        print("So the field that contain missing NaN values is" , "'",ads.columns[i],"'.")
        print('\n')

buy_freq


So the field that contain missing NaN values is ' buy_freq '.

5\. For the fields with missing values, does it look like the data is missing at random? Are there any other fields that correlate perfectly, or predict that the data is missing? If missing, what should the data value be?

Hint: create another data frame that has just the records with a missing value. Get a summary of this data frame using `getDfSummary()` and compare the differences. Do some feature distributions change dramatically?

In [9]:
# Place your code here

#Create a new dataframe with no NaN values at all. This is to double check ads_3 is a dataframe with all rows of NaN for "buy_freq"
ads_2 = ads.copy()
ads_2 = ads_2[np.isfinite(ads_2['buy_freq'])]
ads_2.shape

(2327, 14)

In [10]:
ads_2['buy_freq'].unique()

array([  1.,   2.,   3.,   4.,   5.,   6.,  11.,   7.,  15.,   8.])

In [11]:
# Create a new dataframe with all values NaN in the "buy_freq" column of ads dataframe.
ads_3 = ads.copy()
ads_3 = ads_3[ads_3.buy_freq != 1]
ads_3 = ads_3[ads_3.buy_freq != 2]
ads_3 = ads_3[ads_3.buy_freq != 3]
ads_3 = ads_3[ads_3.buy_freq != 4]
ads_3 = ads_3[ads_3.buy_freq != 5]
ads_3 = ads_3[ads_3.buy_freq != 6]
ads_3 = ads_3[ads_3.buy_freq != 11]
ads_3 = ads_3[ads_3.buy_freq != 7]
ads_3 = ads_3[ads_3.buy_freq != 15]
ads_3 = ads_3[ads_3.buy_freq != 8]
ads_3
ads_3.shape

(52257, 14)

In [12]:
ads.shape

(54584, 14)

In [13]:
# 52257 + 2327 = 54584  Use this to double check that ads_3 is the correct dataframe we want.

In [14]:
ads_3.describe()

,isbuyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins,y_buy
count,52257.0,0.0,52257.000000,52257.0,52257.000000,52257.0,52257.000000,52257.000000,52257.000000,52257.0,52257.000000,52257.000000,52257.000000,52257.000000
mean,0.0,NaN,1.651549,0.0,5.686388,0.0,-9.669298,65.741317,65.741317,0.0,0.255602,86.656180,721.848518,0.003024
std,0.0,NaN,2.147955,0.0,17.623555,0.0,31.239030,53.484622,53.484622,0.0,0.436203,61.996711,1284.504018,0.054904
min,0.0,NaN,1.000000,0.0,0.000000,0.0,-187.615600,0.000000,0.000000,0.0,0.000000,-1.000000,1.000000,0.000000
25%,0.0,NaN,1.000000,0.0,0.000000,0.0,0.000000,19.000000,19.000000,0.0,0.000000,30.000000,126.000000,0.000000
50%,0.0,NaN,1.000000,0.0,0.000000,0.0,0.000000,52.000000,52.000000,0.0,0.000000,75.000000,318.000000,0.000000
75%,0.0,NaN,2.000000,0.0,0.041667,0.0,0.000000,106.000000,106.000000,0.0,1.000000,155.000000,803.000000,0.000000
max,0.0,NaN,84.000000,0.0,184.916700,0.0,91.401920,188.000000,188.000000,0.0,1.000000,206.000000,37091.000000,1.000000

In [15]:
getDfSummary(ads_3)

,number_nan,number_distinct,mean,max,min,std,25%,50%,75%
isbuyer,0.0,2.0,0.000000,0.00000,0.0000,0.000000,0.0,0.0,0.000000
buy_freq,52257.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
visit_freq,0.0,64.0,1.651549,84.00000,1.0000,2.147955,1.0,1.0,2.000000
buy_interval,0.0,295.0,0.000000,0.00000,0.0000,0.000000,0.0,0.0,0.000000
sv_interval,0.0,5886.0,5.686388,184.91670,0.0000,17.623555,0.0,0.0,0.041667
expected_time_buy,0.0,348.0,0.000000,0.00000,0.0000,0.000000,0.0,0.0,0.000000
expected_time_visit,0.0,15135.0,-9.669298,91.40192,-187.6156,31.239030,0.0,0.0,0.000000
last_buy,0.0,189.0,65.741317,188.00000,0.0000,53.484622,19.0,52.0,106.000000
last_visit,0.0,189.0,65.741317,188.00000,0.0000,53.484622,19.0,52.0,106.000000
multiple_buy,0.0,2.0,0.000000,0.00000,0.0000,0.000000,0.0,0.0,0.000000
multiple_visit,0.0,2.0,0.255602,1.00000,0.0000,0.436203,0.0,0.0,1.000000
uniq_urls,0.0,207.0,86.656180,206.00000,-1.0000,61.996711,30.0,75.0,155.000000
num_checkins,0.0,4628.0,721.848518,37091.00000,1.0000,1284.504018,126.0,318.0,803.000000
y_buy,0.0,2.0,0.003024,1.00000,0.0000,0.054904,0.0,0.0,0.000000

In [16]:
getDfSummary(ads)

,number_nan,number_distinct,mean,max,min,std,25%,50%,75%
isbuyer,0.0,2.0,0.042632,1.00000,0.0000,0.202027,0.0,0.0,0.000000
buy_freq,52257.0,10.0,1.240653,15.00000,1.0000,0.782228,1.0,1.0,1.000000
visit_freq,0.0,64.0,1.852777,84.00000,0.0000,2.921820,1.0,1.0,2.000000
buy_interval,0.0,295.0,0.210008,174.62500,0.0000,3.922016,0.0,0.0,0.000000
sv_interval,0.0,5886.0,5.825610,184.91670,0.0000,17.595442,0.0,0.0,0.104167
expected_time_buy,0.0,348.0,-0.198040,84.28571,-181.9238,4.997792,0.0,0.0,0.000000
expected_time_visit,0.0,15135.0,-10.210786,91.40192,-187.6156,31.879722,0.0,0.0,0.000000
last_buy,0.0,189.0,64.729335,188.00000,0.0000,53.476658,18.0,51.0,105.000000
last_visit,0.0,189.0,64.729335,188.00000,0.0000,53.476658,18.0,51.0,105.000000
multiple_buy,0.0,2.0,0.006357,1.00000,0.0000,0.079479,0.0,0.0,0.000000
multiple_visit,0.0,2.0,0.277444,1.00000,0.0000,0.447742,0.0,0.0,1.000000
uniq_urls,0.0,207.0,86.569343,206.00000,-1.0000,61.969765,30.0,75.0,155.000000
num_checkins,0.0,4628.0,720.657592,37091.00000,1.0000,1275.727306,127.0,319.0,802.000000
y_buy,0.0,2.0,0.004635,1.00000,0.0000,0.067924,0.0,0.0,0.000000

Question 5 Answer:

Note: ads_3 is the new dataframe that has just the records with a missing value.
      ads is the original dataframe.

(A). 

Compared with the getDfSummary(ads_3) and getDfSummary(ads) above, it is obvious that the data is not missing at random. The data is missing only for non-buyers. 


(B).

Several other fields correlate perfectly. Such as: 

1). The field "isbuyer". All the values of this field in ads_3 is 0, which means all of the records with the "buy_freq" NaN value is about non-buyers. 

2). The field "buy_interval". All of the values in this field in ads_3 is 0. This may indicate that there is no inforamtion about buy interval for non buyers. Or it could be possible that the buy interval for these people are 0 since they are non buyers. 

3). The field "expected_time_buy". All of the values in this field in ads_3 is 0. It means the expected time to buy is 0. It may also indicates that there is no inforamtion about expected time buy for non buyers. 

These fileds also can predict that the data is missing. 


(C).

For this the dataset ads, the NaN values only appear in the buy_freq field. There are 10 unique values for the field buy_freq except for "NaN". They are 1,   2,   3,   4,   5,   6,  11,   7,  15,   8. For the missing values, there is not enough data to calculate exactly what these missing values are. But intuitively I think the buy_freq for non buyers should be 0. For the data set ads_3, which only contain rows with NaN in the buy_freq fields, even though there are some non-zero and non-NaN vlaues in the fields visit_freq and expected_time_visit, but all the cells in the fields buy_interval, expected_time_buy and multiple_buy are 0. It makes sense intuitively here. Since a non buyers could still visit the shop but just won't buy anything. But it is weird that in the last_buy column, the values are not 0 or NaN. It may due to the unknown definiton of the last_buy field.

6\. Which variables are binary?

In [17]:
# Place your code here

#Find the varialbes that contain two unique values

variable = []
for items in ads.columns:
    if len(ads[items].unique()) == 2:
        variable.append(items)
        print("Values contained in the variable","'",items,"'", "is : ", ads[items].unique())

print('\n')
print('So the binary variables are: ')
for x in variable:
    print(x)

Values contained in the variable ' isbuyer ' is :  [0 1]
Values contained in the variable ' multiple_buy ' is :  [0 1]
Values contained in the variable ' multiple_visit ' is :  [0 1]
Values contained in the variable ' y_buy ' is :  [0 1]


So the binary variables are:
isbuyer
multiple_buy
multiple_visit
y_buy